# Ignore Gradle project-specific cache directory
.gradle
gradle-helloworld/.gradle

# Ignore Gradle build output directory
build
gradle-helloworld/build
gradle
gradle-helloworld/gradle
gradlew
gradle-helloworld/gradlew
gradle-helloworld/.git
.git
gradle-helloworld/gradlew.bat
gradlew.bat
mixin_labs-java-bot.iml
.idea/
src/main/java/mixin_labs/java/bot/Config.java
src/main/resources/rsa_private_key.txt
./src/main/java/mixin_labs/java/bot/Config.java
